body{
    width:80%;
    margin:0 auto;
}
.bg-light{
    background-color: white;
}
#navbarScroll{
    margin-left: 25%;
}
.icons{
    margin:0;
    padding: 0 20px;
    color: black;
}
.icons :hover{
    color: green;
}
.nav-item{
    padding: 20px;
}
.btn-outline-success{
    border: none;
    background-color: green;
    color: white;
    border-radius: 40%;
}